<% include partials/header %>


<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Order-Pickup App</h1>
        <p>This is the home page.</p>
    </div>
    <a class="btn btn-primary" href="/menu">Check Menu</a>
</div>





<% include partials/footer %>